@import "tailwindcss";
@import "./fonts.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: "satoshi", "rubik", "interSemi" "sans-serif";
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #3F3CBB;
  --color-midnight: #121063;
  --color-tahiti: #3AB7BF;
  --color-bermuda: #78DCCA;
  --color-blue: #07b3ff;
  --color-gray: #838587;
  --color-red: #FF6464;
}

body {
  background: #181a1b;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* inverts the color, making black -> white */
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}